#input-section {
  display: flex;
  flex-direction: row;
}

#create-grid-section {
  padding-right: 5px;
}

#reset-button {
  margin-right: 20px;
}

#canvas {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  aspect-ratio: 1/1;
  border: .5px solid grey;
}
