#input-section {
  display: flex;
  flex-direction: row;
}

#create-grid-section {
  padding-right: 5px;
}

#reset-button {
  margin-right: 20px;
}

#canvas {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.row {
  display: flex;
}

.square {
  width: 20px;
  height: 20px;
  background-color: white;
  border: .5px solid grey;
}
